.ReactCodeMirror {
    height: 100%;
}
.CodeMirror {
    height: 100% !important;
}

.error-marker {
    color: black;
    width: 15px !important;
    height: 15px !important;

    background: url('assets/icons/err.png');
    background-size: cover; /* Resize the background image to cover the entire container */

    /* background-color: #ff0000; */
}

.error-marker .error-message {
    display: none;
    position: absolute;
    background-color: rgba(221, 221, 221, 0.894);
    border: 1px solid rgba(190, 188, 188, 0.812);
    font-family: Helvetica-Regular;
    border-radius: 10px;
    font-size: 12px;
    padding: 12px;
    width: 140px;
    left: 15px;
    top: -1em;
}

.error-marker:hover .error-message {
    display: block;
}

.syntax_error {
    border-bottom: 1px dashed rgb(186, 18, 18);
    color: rgb(186, 18, 18) !important;
}

.code-editor {
    font-family: Helvetica-Regular;
    font-size: 16px;
}

.CodeMirror-foldmarker {
    /* font-family: arial; */
}
.CodeMirror-foldgutter {
    width: 0.7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    color: #555;
    cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
    content: '\25BE';
}
.CodeMirror-foldgutter-folded:after {
    content: '\25B8';
}

.plus {
    display: inline-block;
    width: 50px;
    height: 50px;

    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), #000;
    background-position: center;
    background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
}
.close {
    display: inline-block;
    width: 50px;
    height: 50px;

    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), #000;
    background-position: center;
    background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
    transform: rotate(45deg);
}

.alt2 {
    background: linear-gradient(#188fffa9, #188fffa9), linear-gradient(#188fffa9, #188fffa9);
    background-position: center;
    background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
}

.alt {
    background: linear-gradient(#188fff56, #188fff56), linear-gradient(#188fff56, #188fff56);
    background-position: center;
    background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
}
.plus-icon-wrapper {
    border: 2px solid #188fffa9;
    background-color: #188fff2c;
}

.alt2:hover {
    background: linear-gradient(#188fff, #188fff), linear-gradient(#188fff, #188fff);
    background-position: center;
    background-size: 50% 3px, 3px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
}

.alt:hover {
    background: linear-gradient(#188fff, #188fff), linear-gradient(#188fff, #188fff);
    background-position: center;
    background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
}

.play-button-outer {
    margin: 25% auto;
    width: 10em;
    height: 10em;
    background-color: 'transparent';
    cursor: pointer;
}

.play-button {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.5em 0 2.5em 5em;
    border-color: transparent transparent transparent #000;
    opacity: 0.75;
}

.play-button:hover {
    opacity: 1;
}
.MuiTabs-root {
    min-height: 35px !important;
    height: 40px;
}
